 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

 /* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Oxygen', sans-serif;
    margin-bottom:0;
    padding-bottom:0;
}
 /*Header*/
 header {
    background-color: seashell;
    position:fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
 /*   box-shadow: 0 12px 1px .5px rgba(1, 70, 70, 0.315);*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

 header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    font-weight:lighter;
    list-style: none;
    text-decoration: none;
}

#menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid rgb(14, 52, 52);
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: seashell;
    width: 100%;
    left: 0;
    padding: 0 1rem;
  /*  box-shadow: 0 12px 1px .5px rgba(1, 70, 70, 0.315);*/
    display: none;
    top: 100%;
    bottom:90%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex:1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top:-10px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color:rgb(155, 239, 239);
    padding-bottom: 0;
    margin-bottom: 0;
}
 /*Hero image and cover text*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/acting/box3.webp")  no-repeat top center/cover;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    flex:auto;
}
#cover-text-hero {
    text-align: left;
    background-color: rgba(46, 99, 99, 0.8) ;
    color: seashell;
    font-size: 160%;
    position: absolute;
    width: 60%;
    border-radius: 0 5px 5px 0;
    min-height: 135px;
    padding: 40px 10px 0px 10px;
    top:10%;
}

/*About me----------------------------------About me--------------------------------About me-------------------------------------------------------------------------------------*/
#my-info {
    width: 90%;
    margin: 20px auto;
}
#my-info #about-me {
    position:absolute;
    right:0;
    top:117%;
}
#about-me {
    background-color: rgba(46, 99, 99, 0.8) ;
    border-radius: 5px 0 0 5px;
    color: seashell;
    bottom: 100px;
    min-height: 300px;
    width: 70%;
    text-align: left;
    padding: 20px 10px 10px; 
    letter-spacing: 1px;
    box-shadow: 0 2px 2px #3a3a3a;
}

#about-me h2{ 
}

#about-me p{
    padding-top:30px;
}

#my-info img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 2px #3a3a3a;
}

/*Actor----------------------------Actor-------------------------------Actor-----------------------------------Actor---------------------------------*/


#cover-text-actor {
    text-align: left;
    background-color: rgba(46, 99, 99, 0.8) ;
    color: seashell;
    font-size: 100%;
    position: absolute;
    bottom: 100px;
    width: 60%;
    min-height: 400px;
    padding: 40px 40px 0px 10px;
    box-shadow: 0 2px 2px #3a3a3a;
    border-radius: 0 5px 5px 0;
}

#actor {
    padding-bottom: 5px;
}
#cover-text-actor hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}
#about-me p{
    padding-top:30px;
}


#actor-roles {
    position: absolute;
    padding-top: 5px;
    line-height: 1px;
}
#actor-list { 
    padding-left: 40px; 
    list-style-image: url(../list-icon/centos.svg);
}
#actor-image > img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 5px;
    position:absolute;
    float:right;
    bottom: 100px;
    left: 840px;
    top: 50px;
    box-shadow: 0 2px 2px #3a3a3a;
}
/*Costume--------------------------------------Costume--------------------------Costume---------------------------------------------------------------------*/
#my-costume {
    width: 90%;
    margin: 20px auto;
}
#my-costume #costume {
    position:absolute;
    right:0;
}
#costume {
    background-color: rgba(46, 99, 99, 0.8) ;
    border-radius: 5px 0 0 5px;
    color: seashell;
    bottom: 100px;
    min-height: 300px;
    width: 70%;
    text-align: left;
    padding: 20px 10px 10px; 
    letter-spacing: 1px;
    box-shadow: 0 2px 2px #3a3a3a;
}

#my-costume img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 2px #3a3a3a;
    position:absolute;
    float:right;

}

/*Gallery---------------------------------Gallery------------------------------Gallery-----------------------------------------------------------------------------*/
/*Contact*/
#contact {
    background-color: rgba(60, 60, 60, 0.6);
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    bottom: 100px;
    min-height: 300px;
    width: 45%;
}


#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background-color: rgba(60, 60, 60, 0.6);
    color: #fafafa;
    width: 50%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.text-input-box {
    background-color: rgba(60, 60, 60, 0.6);
    color: #fafafa;
    width: 50%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: darkcyan;
    color: #fafafa;
    border-radius: 5px;

}
/*Footer---------------------Footer--------------------Footer-------------------------Footer----------------------------------------------------------------*/
footer {
        background-color:darkcyan;
        padding-top: 0;
        margin-top:0;
 }

 #social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        box-shadow: 0 2px 2px #ec4545;

}

#social-networks i {
        font-size: 160%;
        padding: 5%;
        color: cyan;
}

 /* Media query: large or landscape phones (576px and up) */
 @media screen and (min-width: 576px) {
 }
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
nav {
        display:block;
        position:relative;
     /*   box-shadow: none;*/
        width: fit-content;
        padding-left: 1rem;
        padding-top:45px;
        padding-bottom:0px;
        margin-bottom:0px;
}
    
#menu {
        display:flex;
}

#menu > li {
        padding-right: 1rem;
}

.nav-toggle-label {
        display: none;
}

#logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        padding: 0;
}
/* Main content */
main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
}
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}
/* Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
