 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

 /* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Oxygen', sans-serif;
}
 /*Header*/
 header {
    background-color: seashell;
    position:fixed;
    padding: 0 1rem;
    z-index: 99;
    width:100%;
    box-shadow: 0 12px 1px .5px rgba(1, 70, 70, 0.315);
 }

 header a {
    text-decoration: none;
    color: inherit;
 }

 h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(11, 29, 29);
}

#menu {
    text-size:100%;
    letter-spacing: 4px;
    font-weight:lighter;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid rgb(14, 52, 52);
}
 /*Main*/
 main {
    background-color:darkcyan;
     /* Enlarge main element to push footer down*/
     flex: 1 0 auto;
 }


 /*Footer*/
 footer {
    background-color:aquamarine;
 }
